<div>
    <h3>{{ playlist.name }}</h3>

    <song-list></song-list>

    <small ng-hide="true">No songs.</small>
    <hr>
    <div ng-controller="SongChooseCtrl" class="well">
        <form class="form-horizontal" novalidate name="songSelect" ng-submit="addIt()">
            <fieldset>
                <legend>Add to Playlist</legend>
                <div class="form-group">
                    <div ng-hide="canAdd" class="col-xs-2"></div>
                    <div ng-hide="canAdd" class="alert alert-danger col-xs-10">
                        <strong>You've already added the song.</strong>
                    </div>
                    <label for="song" class="col-xs-2 control-label">Song</label>
                    <div class="col-xs-10">
                        <select class="form-control" ng-options="song as song.name for song in songs" ng-model="toAdd" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-2">
                        <button type="submit" class="btn btn-success">Add Song</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
